.editsfnt{
     -webkit-box-shadow:0 0.5px 0.5px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
		 box-shadow:0 0.5px 0.5px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
}

.popupRight .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.popupRight p{
	width:250px;
}

.popupRight h1 {
	color:#995511;
}
/* right */
.popupRight {
	height: 200px; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	 z-index: 1; /* Stay on top */
	position:fixed;
	right: 0;
bottom: 20px;
 /*float: right;*/
	overflow-x: hidden; /* Disable horizontal scroll */
    padding-bottom: 10px;
    background-color:#403F3A;
	 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	 
}

.popupRight .iPopup {
background-color: #403F3F;
padding-right:10px;
padding-left:10px;
}

.popupRight .ibox {
background-color: #403F3F;

}
.popupRight input {
    margin-bottom:5px;
	padding:5px;

}

.popupRight p {
    padding: 0px;
    text-decoration: none;
    font-size: 12px;
    color: #C4C4C4;
    display: block;
    transition: 0.3s
}

.popupRight a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #C4C4C4;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.popupRight a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.popupRight li {
 background:#F2F2F2;
 width: 100%;
 }

 .popupRight li:hover{
 background:#555353;
 }




/* right */
.sidenavRight p{
	width:250px;
}
.sidenavRight h1{
	color:#99CC00;
}
.sidenavRight {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	 z-index: 1; /* Stay on top */
	position:fixed;
	right: 0;

 /*float: right;*/
	    top: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
    padding-bottom: 10px;
    background-color: #FFFFFF;
	 transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	 
}

.sidenavRight .iSave {
background-color: #403F3F;
padding-right:10px;
padding-left:10px;
}

.sidenavRight .ibox {
background-color: #403F3F;

}
.sidenavRight input {
    margin-bottom:5px;
	padding:5px;

}

.sidenavRight p {
    padding: 0px;
    text-decoration: none;
    font-size: 12px;
    color: #C4C4C4;
    display: block;
    transition: 0.3s
}

.sidenavRight a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #C4C4C4;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenavRight a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenavRight li {
 background:#F2F2F2;
 width: 100%;
  list-style-type: none;
 }

 .sidenavRight li:hover{
 background:#555353;
 }

 .sidenavRight li:active{
 background:555353;
 }
 
 
 
/* left */

.sidenav h1{
	color:#99CC00;
}

.sidenav li {
 background:#F2F2F2;
 width: 100%;
 list-style-type: none;
 }

 .sidenav li:hover{
 background:#555353;
 }
 
  .sidenav li:active{
 background:555353;
 }

.sidenav .t-control{
background-color: #403F3F;
padding:1px 20px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #FFFFFF; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
 
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #C4C4C4;
    display: block;
    transition: 0.3s
}
 
/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
 
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

body {
  overflow-x: hidden;
}
 
/* Add a black background color to the top navigation */
.topnav {
    background-color:  #403F3F;
    overflow: hidden;
}
 
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
 
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
 
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
 
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav a {font-size: 18px;}
}
 
a svg{
  transition:all .5s ease;
 
  &:hover{
    #transform:rotate(180deg);
  }
}
 
#ico{
  display: none;
}
 
.menu{
  background: #000;
  display: none;
  padding: 5px;
  width: 320px;
  @include border-radius(5px);
 
  #transition: all 0.5s ease;
 
  a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 10px 2px;
    margin: 3px 0;
    text-decoration: none;
    background: #444;
 
    &:nth-child(1){
      margin-top: 0;
      @include border-radius(3px 3px 0 0 );
    }
    &:nth-child(5){
      margin-bottom: 0;
      @include border-radius(0 0 3px 3px);
    }
 
    &:hover{
      background: #555;
    }
  }
}

body{
	background:#E5E5E5  ; 
	margin:0;
}

@media only screen and (max-width:920px){
	#main {
		transition: margin-left .5s;
		padding:10px 30px;
		overflow:hidden;
		 min-height: 83vh;
	}
}
@media only screen and (max-width:640px){
	#main {
		transition: margin-left .5s;
		padding:5px 5px;
		overflow:hidden;
		 min-height: 83vh;
	}
}
@media only screen and (min-width:921px){
	#main {
		transition: margin-left .5s;
		padding:30px 100px;
		overflow:hidden;
		min-height: 83vh;
	}
}